@import "src/ui/styles/variables";

:local {
  .marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
  }

  .event-tooltip {
    display: flex;
    flex-direction: column;
    gap: @base-size * 3;
  }

  .popup {
    padding: 0;
    animation: anim 0.5s;
    transition: visibility 0.5s;

    > :last-child {
      padding: 0;
    }
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}