@import "src/ui/styles/variables";

:local {
  .header {
    width: calc(100% - 92px);
  }

  @media (max-width: 600px) {
    .header {
      width: 400px;
    }
  }


  .event-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: @base-size * 10;
    font-size: 16px;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: @base-size * 5;
      height: max(100%, 300px);
      width: 100%;

      @media (max-width: 900px) {
        &.event-map {
          height: 300px;
        }
      }
    }

    .not-found-title {
      margin-bottom: @base-size * 4;
    }

    .title {
      font-weight: 500;
    }

    .error {
      display: flex;
      align-items: center;
      color: #ff5e5e;
    }

    .description {

    }

    .each-slide-effect {
      padding: 20px;
      font-size: 20px;
      background: #efefef;
      text-align: center;
    }
  }
}