@import "src/ui/styles/variables";

@global-horizontal-padding: @base-size * 8px;
@global-vertical-padding: @base-size * 10px;


:local {
  .common-layout {
    padding: @global-vertical-padding @global-horizontal-padding 0;
  }

  .common-layout-header {
    display: flex;
    margin-bottom: @base-size * 8;
    gap: @base-size * 3;
    align-items: center;
  }

  .common-layout-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-bottom: @global-vertical-padding;
  }

  .common-layout-footer {
    &.panel {
      padding: 4 * @base-size @global-horizontal-padding;
      margin: 0 -@global-horizontal-padding 0 -@global-horizontal-padding;
    }
  }
}